.button-container {
    text-align: center;
  }
  
.inscription-button, .connexion-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
.inscription-button:hover, .connexion-button:hover {
    background-color: #45a049;
  }